:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primari-beckground: #e5e5e5;
  --header-beckground: #ffffff;
  --footer-beckgeround: #2f303a;
  --footer-rgba: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;

  background-color: var(--header-beckground);
  border-bottom: 1px solid #ececec;
}

.logo .accent {
  color: var(--title-text-color);
}
.header-logo {
  margin-right: 93px;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-nav .link {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--primari-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-beckgeround);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hiro-bg.png);
  background-repeat: no-repeat;
  box-sizing: cover;
  background-position: center;
  max-width: 1600px;
}
.hero-title {
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  color: var(--title-text-color);
  font-family: inherit;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  text-align: center;
  border-radius: 4px transparent;
}
.button-primari {
  background-color: var(--accent-color);
  color: var(--header-beckground);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  align-items: center;
}

.button.secondari {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}
.button.secondari:hover,
.button.secondari:focus {
  background-color: var(--accent-color);
  color: var(--header-beckground);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
body {
  color: var(--primari-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.section-featnres {
  padding-bottom: 0px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-title-featnres {
  display: none;
}

.features-list .title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-title {
  margin-bottom: 10px;
}
.features-list {
  display: flex;
  margin-left: -30px;
}
.features-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.features-text {
  width: 270px;
}
.work-title {
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  margin-left: -30px;
}
.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  margin-left: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.team-item-title {
  margin-bottom: 10px;
}
.team-item-description {
  padding-top: 30px;
  padding-bottom: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .team-item-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.portfolio-title {
  display: none;
}

.portfolio-nav {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.portfolio-nav-item:not(:last-child) {
  margin-right: 8px;
}

.projects .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects .text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.projects-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.projects-item-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-beckgeround);
}
.footer .accent {
  color: var(--header-beckground);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.address {
  color: var(--header-beckground);
  font-style: normal;
}
.address-text {
  margin-bottom: 9px;
}

.address .link {
  display: block;
  color: var(--footer-rgba);
  text-decoration: none;
}
.address-link:not(:last-child) {
  margin-bottom: 9px;
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
